.home {

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: lightblue;
}

.home h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.home button {
  background: #9bc4b0;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.home button:hover {
  background: #7aa691;
}
